In [1]:
import tabulate as tabulate

In [10]:
data_dict = {
    "1": {
        "stdid":"std101",
        "stdname": "Ashish Kumar",
        "standard": "10th",
        "Age": 15,
        "Hindi": 67,
        "English": 89,
        "Maths": 87,
        "Science": 89,
        "Computer": 90,
        "Total": 422
    },
    "2": {
        "stdid":"std102",
        "stdname": "Abhishek Kumar",
        "standard": "10th",
        "Age": 14,
        "Hindi": 85,
        "English": 45,
        "Maths": 48,
        "Science": 90,
        "Computer": 45,
        "Total": 313
    },
    "3": {
        "stdid":"std103",
        "stdname": "Aman",
        "standard": "10th",
        "Age": 15,
        "Hindi": 23,
        "English": 56,
        "Maths": 78,
        "Science": 78,
        "Computer": 67,
        "Total": 302
    },
    "4": {
        "stdid":"std104",
        "stdname": "Rahul",
        "standard": "10th",
        "Age": 14,
        "Hindi": 45,
        "English": 67,
        "Maths": 45,
        "Science": 45,
        "Computer": 56,
        "Total": 258
    },
    "5": {
        "stdid":"std105",
        "stdname": "Ruby",
        "standard": "10th",
        "Age": 13,
        "Hindi": 89,
        "English": 67,
        "Maths": 89,
        "Science": 93,
        "Computer": 65,
        "Total": 403
    },
    "6": {
        "stdid":"std106",
        "stdname": "Suman",
        "standard": "10th",
        "Age": 13,
        "Hindi": 90,
        "English": 46,
        "Maths": 67,
        "Science": 67,
        "Computer": 67,
        "Total": 337
    },
    "7": {
        "stdid":"std107",
        "stdname": "Saurabh",
        "standard": "10th",
        "Age": 15,
        "Hindi": 45,
        "English": 23,
        "Maths": 34,
        "Science": 45,
        "Computer": 34,
        "Total": 181
    },
    "8": {
        "stdid":"std108",
        "stdname": "Sumit",
        "standard": "10th",
        "Age": 14,
        "Hindi": 23,
        "English": 45,
        "Maths": 67,
        "Science": 78,
        "Computer": 90,
        "Total": 303
    },
    "9": {
        "stdid":"std109",
        "stdname": "Kamlesh",
        "standard": "10th",
        "Age": 15,
        "Hindi": 45,
        "English": 56,
        "Maths": 78,
        "Science": 99,
        "Computer": 67,
        "Total": 345
    },
    "10": {
        "stdid":"std110",
        "stdname": "Rohan",
        "standard": "10th",
        "Age": 15,
        "Hindi": 34,
        "English": 12,
        "Maths": 24,
        "Science": 45,
        "Computer": 56,
        "Total": 171
    }
}

In [11]:
print(data_dict)

{'1': {'stdid': 'std101', 'stdname': 'Ashish Kumar', 'standard': '10th', 'Age': 15, 'Hindi': 67, 'English': 89, 'Maths': 87, 'Science': 89, 'Computer': 90, 'Total': 422}, '2': {'stdid': 'std102', 'stdname': 'Abhishek Kumar', 'standard': '10th', 'Age': 14, 'Hindi': 85, 'English': 45, 'Maths': 48, 'Science': 90, 'Computer': 45, 'Total': 313}, '3': {'stdid': 'std103', 'stdname': 'Aman', 'standard': '10th', 'Age': 15, 'Hindi': 23, 'English': 56, 'Maths': 78, 'Science': 78, 'Computer': 67, 'Total': 302}, '4': {'stdid': 'std104', 'stdname': 'Rahul', 'standard': '10th', 'Age': 14, 'Hindi': 45, 'English': 67, 'Maths': 45, 'Science': 45, 'Computer': 56, 'Total': 258}, '5': {'stdid': 'std105', 'stdname': 'Ruby', 'standard': '10th', 'Age': 13, 'Hindi': 89, 'English': 67, 'Maths': 89, 'Science': 93, 'Computer': 65, 'Total': 403}, '6': {'stdid': 'std106', 'stdname': 'Suman', 'standard': '10th', 'Age': 13, 'Hindi': 90, 'English': 46, 'Maths': 67, 'Science': 67, 'Computer': 67, 'Total': 337}, '7': {'stdid': 'std107', 'stdname': 'Saurabh', 'standard': '10th', 'Age': 15, 'Hindi': 45, 'English': 23, 'Maths': 34, 'Science': 45, 'Computer': 34, 'Total': 181}, '8': {'stdid': 'std108', 'stdname': 'Sumit', 'standard': '10th', 'Age': 14, 'Hindi': 23, 'English': 45, 'Maths': 67, 'Science': 78, 'Computer': 90, 'Total': 303}, '9': {'stdid': 'std109', 'stdname': 'Kamlesh', 'standard': '10th', 'Age': 15, 'Hindi': 45, 'English': 56, 'Maths': 78, 'Science': 99, 'Computer': 67, 'Total': 345}, '10': {'stdid': 'std110', 'stdname': 'Rohan', 'standard': '10th', 'Age': 15, 'Hindi': 34, 'English': 12, 'Maths': 24, 'Science': 45, 'Computer': 56, 'Total': 171}}

In [12]:
keys = list(data_dict.keys())
values = list(data_dict.values())

In [22]:
table_data = []
for value in values:
    row = [value["stdid"],value["stdname"], value["standard"], value["Age"], value["Hindi"], value["English"], value["Maths"], value["Science"], value["Computer"], value["Total"]]
    table_data.append(row)

# Print the table
print("***************************************   Student Record  ************************************************")
print("--------------------------------------------------------------------------------------------------------")
print(tabulate.tabulate(table_data, headers=["Stdid","Name", "Standard", "Age", "Hindi", "English", "Maths", "Science", "Computer", "Total"]))

***************************************   Student Record  ************************************************
--------------------------------------------------------------------------------------------------------
Stdid    Name            Standard      Age    Hindi    English    Maths    Science    Computer    Total
-------  --------------  ----------  -----  -------  ---------  -------  ---------  ----------  -------
std101   Ashish Kumar    10th           15       67         89       87         89          90      422
std102   Abhishek Kumar  10th           14       85         45       48         90          45      313
std103   Aman            10th           15       23         56       78         78          67      302
std104   Rahul           10th           14       45         67       45         45          56      258
std105   Ruby            10th           13       89         67       89         93          65      403
std106   Suman           10th           13       90         46       67         67          67      337
std107   Saurabh         10th           15       45         23       34         45          34      181
std108   Sumit           10th           14       23         45       67         78          90      303
std109   Kamlesh         10th           15       45         56       78         99          67      345
std110   Rohan           10th           15       34         12       24         45          56      171

In [32]:
students_with_high_english_marks = [(details["stdname"],details["English"])for student, details in data_dict.items() if details["English"] > 50]
# Print the result
print("=======================================================================================")
print("Students whose marks is greater than 50 in English \n")
print(students_with_high_english_marks)
print("=======================================================================================")

=======================================================================================
Students whose marks is greater than 50 in English

[('Ashish Kumar', 89), ('Aman', 56), ('Rahul', 67), ('Ruby', 67), ('Kamlesh', 56)]
=======================================================================================

In [ ]:
std_marks_in_maths =