In [1]:
from tabulate import tabulate

In [2]:
data = [
    ["stdid", "stdname", "standard", "Age", "Hindi", "English", "Maths", "Science", "Computer", "Total"],
    ["std101", "Ashish Kumar", "10th", 15, 67, 89, 87, 89, 90, 422],
    ["std102", "Abhishek Kumar", "10th", 14, 85, 45, 48, 90, 45, 313],
    ["std103", "Aman", "10th", 15, 23, 56, 78, 78, 67, 302],
    ["std104", "Rahul", "10th", 14, 45, 67, 45, 45, 56, 258],
    ["std105", "Ruby", "10th", 13, 89, 67, 89, 93, 65, 403],
    ["std106", "Suman", "10th", 13, 90, 46, 67, 67, 67, 337],
    ["std107", "Saurabh", "10th", 15, 45, 23, 34, 45, 34, 181],
    ["std108", "Sumit", "10th", 14, 23, 45, 67, 78, 90, 303],
    ["std109", "Kamlesh", "10th", 15, 45, 56, 78, 99, 67, 345],
    ["std110", "Rohan", "10th", 15, 34, 12, 24, 45, 56, 171]
]

In [3]:
print(tabulate(data[1:], headers = data[0] , tablefmt = 'grid'))

+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| stdid   | stdname        | standard   |   Age |   Hindi |   English |   Maths |   Science |   Computer |   Total |
+=========+================+============+=======+=========+===========+=========+===========+============+=========+
| std101  | Ashish Kumar   | 10th       |    15 |      67 |        89 |      87 |        89 |         90 |     422 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std102  | Abhishek Kumar | 10th       |    14 |      85 |        45 |      48 |        90 |         45 |     313 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std103  | Aman           | 10th       |    15 |      23 |        56 |      78 |        78 |         67 |     302 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std104  | Rahul          | 10th       |    14 |      45 |        67 |      45 |        45 |         56 |     258 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std105  | Ruby           | 10th       |    13 |      89 |        67 |      89 |        93 |         65 |     403 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std106  | Suman          | 10th       |    13 |      90 |        46 |      67 |        67 |         67 |     337 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std107  | Saurabh        | 10th       |    15 |      45 |        23 |      34 |        45 |         34 |     181 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std108  | Sumit          | 10th       |    14 |      23 |        45 |      67 |        78 |         90 |     303 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std109  | Kamlesh        | 10th       |    15 |      45 |        56 |      78 |        99 |         67 |     345 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std110  | Rohan          | 10th       |    15 |      34 |        12 |      24 |        45 |         56 |     171 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+

In [15]:
print("------------------------------")
records = data[1:]

n = len(records)
for i in range(n):
    for j in range(0, n-i-1):
        if records[j][6] < records[j+1][6]:
            records[j], records[j+1] = records[j+1], records[j]

top_four_math = [(records[i][1], records[i][3], records[i][6]) for i in range(4)]

print("Top Four Students in Maths:")
print("------------------------------")
for name, age, math_score in top_four_math:
    print(f"Name: {name}, Age: {age}, Math Score: {math_score}")

------------------------------
Top Four Students in Maths:
------------------------------
Name: Ruby, Age: 13, Math Score: 89
Name: Ashish Kumar, Age: 15, Math Score: 87
Name: Aman, Age: 15, Math Score: 78
Name: Kamlesh, Age: 15, Math Score: 78

In [16]:
print("---------------------------------------------")
bottom_scorers_in_computer = sorted(data[1:], key=lambda x: x[8])[:3]
print("Bottom 3 student in Computer")
print("---------------------------------------------")
for scorer in bottom_scorers_in_computer:
    print(f"Name: {scorer[1]}, ID: {scorer[0]}, Age: {scorer[3]}")

---------------------------------------------
Bottom 3 student in Computer
---------------------------------------------
Name: Saurabh, ID: std107, Age: 15
Name: Abhishek Kumar, ID: std102, Age: 14
Name: Rahul, ID: std104, Age: 14